body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #DBF9FC; /* Choose the color you want for the body */
    line-height: 1.6;
    padding: 0;
    color: #333; /* Text color */
}

header {
    text-align: center;
    padding: 20px 0; /* Padding on top and bottom */
    margin-bottom: 30px; /* Space between header and content */
    
}

.header-text {
    background-color: #fddde6; /* Mellow pink background */
    display: inline-block; /* Allows the div to fit the content size */
    padding: 10px 20px; /* Adjust the padding as needed */
    margin: 0 auto; /* Center the div */
    text-align: center; /* Center the text within the div */
}


.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* Aligns items vertically */
    overflow: hidden; /* Ensures content fits within the parent container */
    padding: 20px 0; /* Add padding to match the header's vertical spacing */
    padding-bottom: 50px; /* Adds space below the image gallery */
    /*background-color: #yourBlueishColor;  Replace with your actual color code */
}

.image-container {
    display: inline-block; /* Align images side by side */
    width: 30%; /* Adjust the width as necessary */
    margin: 0 1.66%; /* Add margins for spacing */
    vertical-align: top; /* Align the tops of the images */
    flex: 1; /* Each container will grow to fill the space */
    margin: 10px; /* Adds margin between image containers */
    max-width: calc(33% - 20px); /* Adjust the width to be one-third minus the margin */
    box-sizing: border-box; /* This ensures padding and borders are included in the width */  
    /*  position: relative;
    margin: 10px; */
}

 .image-container img {
    width: 100%; /* Makes the image fill its container */
    height: auto; /* Keeps the image's aspect ratio */
    display: block; /* Removes any default inline spacing */
 }

.image-link {
    display: block;
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.image-link:hover .image {
    transform: scale(1.1);
    z-index: 10;
}

.image-link:hover .image-text {
    visibility: visible;
    opacity: 1;
}

.image {
    width: 100%;
    max-width: 300px; /* Adjust as needed */
    transition: transform 0.3s ease;
    margin-bottom: -50px;
}

.image-text {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease;
}

.day-entry {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);    
}

.text-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.text-side h2 {
    color: #4CAF50;
    font-size: 24px;
    margin-bottom: 15px;
}

.text-side p {
    color: #D32F2F;
    font-size: 16px;
}

.image-side {
    flex: 1;
    text-align: right;
}

.image-side img {
    width: 100%;
    max-width: 400px;
    height: auto;
    border: 1px solid #ddd;
}

@media (max-width: 768px)
